  <!-- https://youtu.be/WTvfoXi6tcA
  https://youtu.be/WTvfoXi6tcA
  -->
   <!--<ion-menu no-border>-->
    <!-- <ion-menu side="start" menuId="primerMenu" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">

<ion-buttons slot="start">
<ion-button (click)="toggleMenu()">
  <ion-icon slot="icon-only" name="menu"></ion-icon>
</ion-button>
</ion-buttons>

        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
       <ion-item>Menu 1</ion-item>
       <ion-item>Menu 2</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->
